<div *ngIf="carro">
  <br>
<mat-card class="mat-elevation-z4">
  <mat-card-title><b>Editandoo: {{carro.nome}}</b></mat-card-title>
  <br>
<div class="opt">
  <mat-card-subtitle>Carro: <input type="text" [(ngModel)]="carro.nome"></mat-card-subtitle>
  <br>
  <mat-card-subtitle>Cor: <input type="text" [(ngModel)]="carro.cor"></mat-card-subtitle>
</div>
<mat-card-actions>
  <button mat-mini-fab color="primary" aria-label="Salvar" (click)="save()"><mat-icon>save</mat-icon></button>
  <button mat-mini-fab color="primary" aria-label="Voltar" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
</mat-card-actions>
</mat-card>

